{
  "openapi": "3.0.3",
  "info": {
    "title": "Data API",
    "description": "Wistia Data API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.wistia.com/v1"
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "summary": "Project List",
        "description": "Use this endpoint to request a list of Projects in your Wistia account. This request supports paging and sorting.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of projects per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Ordering",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created",
                "updated",
                "mediaCount"
              ]
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "Ordering Sort Direction (0 = desc, 1 = asc; default is 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "A unique numeric identifier for the project within the system.",
                        "example": 22570
                      },
                      "name": {
                        "type": "string",
                        "description": "The project’s display name.",
                        "example": "My Project Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "The project’s description.",
                        "example": "About My Project"
                      },
                      "mediaCount": {
                        "type": "integer",
                        "description": "The number of different medias that have been uploaded to the project.",
                        "example": 2
                      },
                      "created": {
                        "type": "string",
                        "description": "The date that the project was originally created.",
                        "format": "date-time",
                        "example": "2010-08-13T18:47:39+00:00"
                      },
                      "updated": {
                        "type": "string",
                        "description": "The date that the project was last updated.",
                        "format": "date-time",
                        "example": "2010-08-19T21:47:00+00:00"
                      },
                      "hashedId": {
                        "type": "string",
                        "description": "A private hashed id, uniquely identifying the project within the system.",
                        "example": "4d23503f70"
                      },
                      "public": {
                        "type": "boolean",
                        "description": "A boolean indicating whether the project is available for public (anonymous) viewing.",
                        "example": false
                      },
                      "publicId": {
                        "type": "string",
                        "description": "If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.",
                        "example": "4bD"
                      },
                      "anonymousCanUpload": {
                        "type": "boolean",
                        "example": false
                      },
                      "anonymousCanDownload": {
                        "type": "boolean",
                        "example": false
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "mediaCount",
                      "created",
                      "updated",
                      "hashedId",
                      "public",
                      "publicId"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Project Create",
        "description": "Create a new project. If the project is created successfully the Location HTTP header will point to the new project.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the project you want to create.",
                    "example": "My New Project"
                  },
                  "adminEmail": {
                    "type": "string",
                    "description": "The email address of the person you want to set as the owner of this project. Defaults to the Wistia Account Owner.",
                    "example": "admin@example.com"
                  },
                  "public": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "A flag indicating whether or not the project is enabled for public access. Set to “1” to enable and “0” to disable.",
                        "enum": [
                          "0",
                          "1"
                        ]
                      },
                      {
                        "type": "boolean",
                        "description": "A flag indicating whether or not the project is enabled for public access. Set to `true` to enable and `false` to disable.",
                        "example": false
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "A unique numeric identifier for the project within the system.",
                      "example": 22570
                    },
                    "name": {
                      "type": "string",
                      "description": "The project’s display name.",
                      "example": "My Project Title"
                    },
                    "description": {
                      "type": "string",
                      "description": "The project’s description.",
                      "example": "About My Project"
                    },
                    "mediaCount": {
                      "type": "integer",
                      "description": "The number of different medias that have been uploaded to the project.",
                      "example": 2
                    },
                    "created": {
                      "type": "string",
                      "description": "The date that the project was originally created.",
                      "format": "date-time",
                      "example": "2010-08-13T18:47:39+00:00"
                    },
                    "updated": {
                      "type": "string",
                      "description": "The date that the project was last updated.",
                      "format": "date-time",
                      "example": "2010-08-19T21:47:00+00:00"
                    },
                    "hashedId": {
                      "type": "string",
                      "description": "A private hashed id, uniquely identifying the project within the system.",
                      "example": "4d23503f70"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "A boolean indicating whether the project is available for public (anonymous) viewing.",
                      "example": false
                    },
                    "publicId": {
                      "type": "string",
                      "description": "If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.",
                      "example": "4bD"
                    },
                    "anonymousCanUpload": {
                      "type": "boolean",
                      "example": false
                    },
                    "anonymousCanDownload": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mediaCount",
                    "created",
                    "updated",
                    "hashedId",
                    "public",
                    "publicId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "get": {
        "summary": "Project Show",
        "description": "Retrieve a single project. Projects#show uses pagination by default - we’ll return up to the first 500 medias in a Project. If you have more than 500 medias in a Project, you’ll need to add a query param, page=2 to get the second page of medias (and the third, etc.). You can check how many pages you will need by looking at the media_count in your first request.\n",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project Hashed ID",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hashed ID of the project (e.g., \"4d23503f70\")"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "A unique numeric identifier for the project within the system.",
                      "example": 22570
                    },
                    "name": {
                      "type": "string",
                      "description": "The project’s display name.",
                      "example": "My Project Title"
                    },
                    "description": {
                      "type": "string",
                      "description": "The project’s description.",
                      "example": "About My Project"
                    },
                    "medias": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "A unique numeric identifier for the media within the system."
                          },
                          "name": {
                            "type": "string",
                            "description": "The display name of the media."
                          },
                          "type": {
                            "type": "string",
                            "description": "A string representing what type of media this is."
                          },
                          "archived": {
                            "type": "boolean",
                            "description": "Whether or not the media is archived, either true or false."
                          },
                          "created": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the media was originally uploaded."
                          },
                          "updated": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date when the media was last changed."
                          },
                          "duration": {
                            "type": "number",
                            "description": "Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media."
                          },
                          "hashed_id": {
                            "type": "string",
                            "description": "A unique alphanumeric identifier for this media."
                          },
                          "description": {
                            "type": "string",
                            "description": "A description for the media which usually appears near the top of the sidebar on the media’s page."
                          },
                          "progress": {
                            "type": "number",
                            "description": "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                          },
                          "status": {
                            "type": "string",
                            "description": "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).\n"
                          },
                          "thumbnail": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer"
                              },
                              "height": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    },
                    "mediaCount": {
                      "type": "integer",
                      "description": "The number of different medias that have been uploaded to the project.",
                      "example": 2
                    },
                    "created": {
                      "type": "string",
                      "description": "The date that the project was originally created.",
                      "format": "date-time",
                      "example": "2010-08-13T18:47:39+00:00"
                    },
                    "updated": {
                      "type": "string",
                      "description": "The date that the project was last updated.",
                      "format": "date-time",
                      "example": "2010-08-19T21:47:00+00:00"
                    },
                    "hashedId": {
                      "type": "string",
                      "description": "A private hashed id, uniquely identifying the project within the system.",
                      "example": "4d23503f70"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "A boolean indicating whether the project is available for public (anonymous) viewing.",
                      "example": false
                    },
                    "publicId": {
                      "type": "string",
                      "description": "If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.",
                      "example": "4bD"
                    },
                    "anonymousCanUpload": {
                      "type": "boolean",
                      "example": false
                    },
                    "anonymousCanDownload": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mediaCount",
                    "created",
                    "updated",
                    "hashedId",
                    "public",
                    "publicId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project with ID 'fakeid' not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Project Update",
        "description": "Update a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project Hashed ID",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hashed ID of the project (e.g., \"4d23503f70\")"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The project’s new name.",
                    "example": "My New Project Name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The project’s new description.",
                    "example": "My New Project Description"
                  },
                  "anonymousCanUpload": {
                    "type": "boolean",
                    "description": "Whether anonymous users can upload media to the project."
                  },
                  "anonymousCanDownload": {
                    "type": "boolean",
                    "description": "Whether anonymous users can download media from the project."
                  },
                  "public": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "A flag indicating whether or not the project is enabled for public access. Set to “1” to enable and “0” to disable.",
                        "enum": [
                          "0",
                          "1"
                        ]
                      },
                      {
                        "type": "boolean",
                        "description": "A flag indicating whether or not the project is enabled for public access. Set to `true` to enable and `false` to disable.",
                        "example": false
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A single project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "A unique numeric identifier for the project within the system.",
                      "example": 22570
                    },
                    "name": {
                      "type": "string",
                      "description": "The project’s display name.",
                      "example": "My Project Title"
                    },
                    "description": {
                      "type": "string",
                      "description": "The project’s description.",
                      "example": "About My Project"
                    },
                    "mediaCount": {
                      "type": "integer",
                      "description": "The number of different medias that have been uploaded to the project.",
                      "example": 2
                    },
                    "created": {
                      "type": "string",
                      "description": "The date that the project was originally created.",
                      "format": "date-time",
                      "example": "2010-08-13T18:47:39+00:00"
                    },
                    "updated": {
                      "type": "string",
                      "description": "The date that the project was last updated.",
                      "format": "date-time",
                      "example": "2010-08-19T21:47:00+00:00"
                    },
                    "hashedId": {
                      "type": "string",
                      "description": "A private hashed id, uniquely identifying the project within the system.",
                      "example": "4d23503f70"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "A boolean indicating whether the project is available for public (anonymous) viewing.",
                      "example": false
                    },
                    "publicId": {
                      "type": "string",
                      "description": "If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.",
                      "example": "4bD"
                    },
                    "anonymousCanUpload": {
                      "type": "boolean",
                      "example": false
                    },
                    "anonymousCanDownload": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mediaCount",
                    "created",
                    "updated",
                    "hashedId",
                    "public",
                    "publicId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project with ID 'fakeid' not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Project Delete",
        "description": "Delete a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project Hashed ID",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hashed ID of the project (e.g., \"4d23503f70\")"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "A unique numeric identifier for the project within the system.",
                      "example": 22570
                    },
                    "name": {
                      "type": "string",
                      "description": "The project’s display name.",
                      "example": "My Project Title"
                    },
                    "description": {
                      "type": "string",
                      "description": "The project’s description.",
                      "example": "About My Project"
                    },
                    "mediaCount": {
                      "type": "integer",
                      "description": "The number of different medias that have been uploaded to the project.",
                      "example": 2
                    },
                    "created": {
                      "type": "string",
                      "description": "The date that the project was originally created.",
                      "format": "date-time",
                      "example": "2010-08-13T18:47:39+00:00"
                    },
                    "updated": {
                      "type": "string",
                      "description": "The date that the project was last updated.",
                      "format": "date-time",
                      "example": "2010-08-19T21:47:00+00:00"
                    },
                    "hashedId": {
                      "type": "string",
                      "description": "A private hashed id, uniquely identifying the project within the system.",
                      "example": "4d23503f70"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "A boolean indicating whether the project is available for public (anonymous) viewing.",
                      "example": false
                    },
                    "publicId": {
                      "type": "string",
                      "description": "If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.",
                      "example": "4bD"
                    },
                    "anonymousCanUpload": {
                      "type": "boolean",
                      "example": false
                    },
                    "anonymousCanDownload": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mediaCount",
                    "created",
                    "updated",
                    "hashedId",
                    "public",
                    "publicId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project with ID 'fakeid' not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/copy.json": {
      "post": {
        "summary": "Project Copy",
        "description": "This method does not copy the project’s sharing information (i.e. users that could see the old project will not automatically be able to see the new one).\nFor the request you can specify the owner of a new project by passing an optional parameter. The person you specify must be a Manager in the account.\nFor the response, the HTTP Location header will be set to the URL where the new project resource resides. The body of the response will contain an object representing the new copy of the project that was just created.\n",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Project Hashed ID",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hashed ID of the project (e.g., \"4d23503f70\")"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "adminEmail": {
                    "type": "string",
                    "description": "The email address of the account Manager that will be the owner of the new project. Defaults to the Account Owner if invalid or omitted.",
                    "example": "admin@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project copied successfully",
            "headers": {
              "Location": {
                "description": "The URL where the new project resource resides.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "A unique numeric identifier for the project within the system.",
                      "example": 22570
                    },
                    "name": {
                      "type": "string",
                      "description": "The project’s display name.",
                      "example": "My Project Title"
                    },
                    "description": {
                      "type": "string",
                      "description": "The project’s description.",
                      "example": "About My Project"
                    },
                    "mediaCount": {
                      "type": "integer",
                      "description": "The number of different medias that have been uploaded to the project.",
                      "example": 2
                    },
                    "created": {
                      "type": "string",
                      "description": "The date that the project was originally created.",
                      "format": "date-time",
                      "example": "2010-08-13T18:47:39+00:00"
                    },
                    "updated": {
                      "type": "string",
                      "description": "The date that the project was last updated.",
                      "format": "date-time",
                      "example": "2010-08-19T21:47:00+00:00"
                    },
                    "hashedId": {
                      "type": "string",
                      "description": "A private hashed id, uniquely identifying the project within the system.",
                      "example": "4d23503f70"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "A boolean indicating whether the project is available for public (anonymous) viewing.",
                      "example": false
                    },
                    "publicId": {
                      "type": "string",
                      "description": "If the project is public, this field contains a string representing the ID used for referencing the project in public URLs.",
                      "example": "4bD"
                    },
                    "anonymousCanUpload": {
                      "type": "boolean",
                      "example": false
                    },
                    "anonymousCanDownload": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "mediaCount",
                    "created",
                    "updated",
                    "hashedId",
                    "public",
                    "publicId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project with ID 'fakeid' not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project-id}/sharings.json": {
      "get": {
        "summary": "Project Sharing List",
        "description": "A sharing is an object that links either a contact or a contact group to a project, including information about the contacts' permissions to that project.\nRetrieve a list of all sharings for a given project. Supports paging and sorting.\n",
        "tags": [
          "Project Sharings"
        ],
        "parameters": [
          {
            "name": "project-id",
            "in": "path",
            "required": true,
            "description": "Project Hashed ID",
            "schema": {
              "type": "string",
              "description": "Hashed ID of the project (e.g., \"4d23503f70\")"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of projects per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of sharings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 14
                      },
                      "isAdmin": {
                        "type": "boolean",
                        "example": true
                      },
                      "canShare": {
                        "type": "boolean",
                        "example": true
                      },
                      "canDownload": {
                        "type": "boolean",
                        "example": true
                      },
                      "canUpload": {
                        "type": "boolean",
                        "example": true
                      },
                      "share": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 3
                          },
                          "name": {
                            "type": "string",
                            "example": "Jim"
                          },
                          "type": {
                            "type": "string",
                            "example": "Contact"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "example": "jim@wistia.com"
                          }
                        }
                      },
                      "project": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 13
                          },
                          "name": {
                            "type": "string",
                            "example": "My Project"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Project Sharing Create",
        "description": "Create a new sharing object for a project by specifying the email of the person to share with and other optional parameters.",
        "tags": [
          "Project Sharings"
        ],
        "parameters": [
          {
            "name": "project-id",
            "in": "path",
            "description": "Hashed ID of the project to be shared",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hashed ID of the project (e.g., \"4d23503f70\")"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sharing": {
                    "type": "object",
                    "properties": {
                      "with": {
                        "type": "string",
                        "description": "The email address of the person with whom you want to share the project.",
                        "format": "email"
                      },
                      "requirePassword": {
                        "oneOf": [
                          {
                            "type": "string",
                            "description": "Default is \"1\". Set to \"0\" to allow access without a password.",
                            "enum": [
                              "0",
                              "1"
                            ]
                          },
                          {
                            "type": "boolean",
                            "description": "A flag indicating whether or not a password is required.",
                            "example": false
                          }
                        ]
                      },
                      "canShare": {
                        "oneOf": [
                          {
                            "type": "string",
                            "description": "Default is \"0\". Set to \"1\" to allow the user to share the project with others.",
                            "enum": [
                              "0",
                              "1"
                            ]
                          },
                          {
                            "type": "boolean",
                            "description": "Whether the user is allowed to share the project with others.",
                            "example": false
                          }
                        ]
                      },
                      "canDownload": {
                        "oneOf": [
                          {
                            "type": "string",
                            "description": "Default is \"0\". Set to \"1\" to allow the user to download files from the project.",
                            "enum": [
                              "0",
                              "1"
                            ]
                          },
                          {
                            "type": "boolean",
                            "description": "Whether the user is allowed to download files from the project.",
                            "example": false
                          }
                        ]
                      },
                      "canUpload": {
                        "oneOf": [
                          {
                            "type": "string",
                            "description": "Default is \"0\". Set to \"1\" to allow the user to upload files to the project.",
                            "enum": [
                              "0",
                              "1"
                            ]
                          },
                          {
                            "type": "boolean",
                            "description": "Whether the user is allowed to upload files to the project.",
                            "example": false
                          }
                        ]
                      },
                      "sendEmailNotification": {
                        "type": "string",
                        "deprecated": true,
                        "description": "Deprecated! Email notifications are always sent now.",
                        "enum": [
                          "0",
                          "1"
                        ]
                      }
                    },
                    "required": [
                      "with"
                    ]
                  }
                },
                "required": [
                  "sharing"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project shared successfully",
            "headers": {
              "Location": {
                "description": "The API endpoint for the new sharing object.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The response includes a link for the user to access the project.",
                  "properties": {
                    "project": {
                      "type": "string",
                      "format": "uri",
                      "example": "http://myaccount.wistia.com/folders/13"
                    },
                    "sharing": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 14
                        },
                        "isAdmin": {
                          "type": "boolean",
                          "example": true
                        },
                        "canShare": {
                          "type": "boolean",
                          "example": true
                        },
                        "canDownload": {
                          "type": "boolean",
                          "example": true
                        },
                        "canUpload": {
                          "type": "boolean",
                          "example": true
                        },
                        "share": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 3
                            },
                            "name": {
                              "type": "string",
                              "example": "Jim"
                            },
                            "type": {
                              "type": "string",
                              "example": "Contact"
                            },
                            "email": {
                              "type": "string",
                              "format": "email",
                              "example": "jim@wistia.com"
                            }
                          }
                        },
                        "project": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "example": 13
                            },
                            "name": {
                              "type": "string",
                              "example": "My Project"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Error message detailing the reason for the bad request."
                  },
                  "example": [
                    "email@example.com is already shared on this project."
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project-id}/sharings/{sharing-id}.json": {
      "get": {
        "summary": "Project Sharing Show",
        "description": "Retrieve the details of a specific sharing object for a given project.",
        "tags": [
          "Project Sharings"
        ],
        "parameters": [
          {
            "name": "project-id",
            "in": "path",
            "required": true,
            "description": "Hashed ID for the project for which you'd like to see sharings.",
            "schema": {
              "type": "string",
              "description": "Hashed ID of the project (e.g., \"4d23503f70\")"
            }
          },
          {
            "name": "sharing-id",
            "in": "path",
            "required": true,
            "description": "The ID of the specific sharing object that you want to see.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved sharing details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 14
                    },
                    "isAdmin": {
                      "type": "boolean",
                      "example": true
                    },
                    "canShare": {
                      "type": "boolean",
                      "example": true
                    },
                    "canDownload": {
                      "type": "boolean",
                      "example": true
                    },
                    "canUpload": {
                      "type": "boolean",
                      "example": true
                    },
                    "share": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 3
                        },
                        "name": {
                          "type": "string",
                          "example": "Jim"
                        },
                        "type": {
                          "type": "string",
                          "example": "Contact"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "jim@wistia.com"
                        }
                      }
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 13
                        },
                        "name": {
                          "type": "string",
                          "example": "My Project"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project with ID 'fakeid' not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Project Sharing Update",
        "description": "Update a sharing on a project",
        "tags": [
          "Project Sharings"
        ],
        "parameters": [
          {
            "name": "project-id",
            "in": "path",
            "required": true,
            "description": "ID of the project",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sharing-id",
            "in": "path",
            "required": true,
            "description": "ID of the sharing to be updated",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sharing": {
                    "type": "object",
                    "properties": {
                      "canShare": {
                        "type": "boolean",
                        "description": "Allow the user or group to share the project with others."
                      },
                      "canDownload": {
                        "type": "boolean",
                        "description": "Allow the user or group to download media from the project."
                      },
                      "canUpload": {
                        "type": "boolean",
                        "description": "Allow the user or group to upload media to the project."
                      },
                      "isAdmin": {
                        "type": "boolean",
                        "description": "Give this user admin rights to the project."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sharing updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 14
                    },
                    "isAdmin": {
                      "type": "boolean",
                      "example": true
                    },
                    "canShare": {
                      "type": "boolean",
                      "example": true
                    },
                    "canDownload": {
                      "type": "boolean",
                      "example": true
                    },
                    "canUpload": {
                      "type": "boolean",
                      "example": true
                    },
                    "share": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 3
                        },
                        "name": {
                          "type": "string",
                          "example": "Jim"
                        },
                        "type": {
                          "type": "string",
                          "example": "Contact"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "jim@wistia.com"
                        }
                      }
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 13
                        },
                        "name": {
                          "type": "string",
                          "example": "My Project"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project with ID 'fakeid' not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Project Sharing Delete",
        "description": "Delete a sharing on a project",
        "tags": [
          "Project Sharings"
        ],
        "parameters": [
          {
            "name": "project-id",
            "in": "path",
            "required": true,
            "description": "Hashed ID of the project",
            "schema": {
              "type": "string",
              "description": "Hashed ID of the project (e.g., \"4d23503f70\")"
            }
          },
          {
            "name": "sharing-id",
            "in": "path",
            "required": true,
            "description": "ID of the sharing to be deleted",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sharing deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 14
                    },
                    "isAdmin": {
                      "type": "boolean",
                      "example": true
                    },
                    "canShare": {
                      "type": "boolean",
                      "example": true
                    },
                    "canDownload": {
                      "type": "boolean",
                      "example": true
                    },
                    "canUpload": {
                      "type": "boolean",
                      "example": true
                    },
                    "share": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 3
                        },
                        "name": {
                          "type": "string",
                          "example": "Jim"
                        },
                        "type": {
                          "type": "string",
                          "example": "Contact"
                        },
                        "email": {
                          "type": "string",
                          "format": "email",
                          "example": "jim@wistia.com"
                        }
                      }
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 13
                        },
                        "name": {
                          "type": "string",
                          "example": "My Project"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project with ID 'fakeid' not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/medias": {
      "get": {
        "summary": "Media List",
        "description": "Obtain a list of all the media in your account. For accounts with more than 100 media, you’ll want to page and sort the returned list.\n",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number to retrieve",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of medias per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Ordering",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created",
                "updated",
                "position"
              ]
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "description": "Ordering Sort Direction (0 = desc, 1 = asc; default is 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "A hashed ID specifying the project from which you would like to get results.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Hashed ID of the project (e.g., \"4d23503f70\")"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Find a media or medias whose name exactly matches this parameter.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "A string specifying which type of media you would like to get.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Video",
                "Audio",
                "Image",
                "PdfDocument",
                "MicrosoftOfficeDocument",
                "Swf",
                "UnknownType"
              ]
            }
          },
          {
            "name": "hashed_id",
            "in": "query",
            "description": "Find the media by hashed_id.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hashed_ids[]",
            "in": "query",
            "description": "Find all of the medias by these hashed_ids.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Find all of the medias that match all of these tag names.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Filter by archived status. True will return only archived medias, while false will return only active medias.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "A unique numeric identifier for the media within the system."
                      },
                      "name": {
                        "type": "string",
                        "description": "The display name of the media."
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "Video",
                          "Audio",
                          "Image",
                          "PdfDocument",
                          "MicrosoftOfficeDocument",
                          "Swf",
                          "UnknownType"
                        ],
                        "description": "A string representing what type of media this is."
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether or not the media is archived, either true or false."
                      },
                      "created": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date when the media was originally uploaded."
                      },
                      "updated": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date when the media was last changed."
                      },
                      "duration": {
                        "type": "number",
                        "description": "Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media."
                      },
                      "embedCode": {
                        "type": "string",
                        "deprecated": true,
                        "description": "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.\n"
                      },
                      "hashed_id": {
                        "type": "string",
                        "description": "A unique alphanumeric identifier for this media."
                      },
                      "description": {
                        "type": "string",
                        "description": "A description for the media which usually appears near the top of the sidebar on the media’s page."
                      },
                      "progress": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1,
                        "description": "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "queued",
                          "processing",
                          "ready",
                          "failed"
                        ],
                        "description": "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).\n"
                      },
                      "section": {
                        "type": "string",
                        "description": "The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default)."
                      },
                      "thumbnail": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "width": {
                            "type": "integer"
                          },
                          "height": {
                            "type": "integer"
                          }
                        }
                      },
                      "project": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "A unique numeric identifier for the project within the system.",
                            "example": 22570
                          },
                          "name": {
                            "type": "string",
                            "description": "The project’s display name.",
                            "example": "My Project Title"
                          },
                          "hashedId": {
                            "type": "string",
                            "description": "A private hashed id, uniquely identifying the project within the system.",
                            "example": "4d23503f70"
                          }
                        }
                      },
                      "assets": {
                        "type": "array",
                        "description": "An array of the assets available for this media.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "A direct-access URL to the content of the asset."
                            },
                            "width": {
                              "type": "integer",
                              "description": "The width of this specific asset, if applicable."
                            },
                            "height": {
                              "type": "integer",
                              "description": "The height of this specific asset, if applicable."
                            },
                            "fileSize": {
                              "type": "integer",
                              "description": "The size of the asset file that’s referenced by url, measured in bytes."
                            },
                            "contentType": {
                              "type": "string",
                              "description": "The asset’s content type."
                            },
                            "type": {
                              "type": "string",
                              "description": "The internal type of the asset, describing how the asset should be used. Values can include OriginalFile, FlashVideoFile, MdFlashVideoFile, HdFlashVideoFile, Mp4VideoFile, MdMp4VideoFile, HdMp4VideoFile, IPhoneVideoFile, StillImageFile, SwfFile, Mp3AudioFile, and LargeImageFile.\n"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/medias/{media-hashed-id}.json": {
      "get": {
        "summary": "Media Show",
        "description": "Get information about a specific piece of media. Fetch detailed information about a specific piece of media you’ve uploaded to your account using its hashed_id.\n\nCDN-backed medias are accessible using this url structure: https://fast.wistia.com/embed/medias/{hashed_id}.m3u8.\nFor more information, see https://docs.wistia.com/docs/asset-urls#getting-hls-assets.\n",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "media-hashed-id",
            "in": "path",
            "description": "The hashed ID of the media.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hashed ID of the media (e.g., \"4d23503f70\")"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "A unique numeric identifier for the media within the system."
                    },
                    "name": {
                      "type": "string",
                      "description": "The display name of the media."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "Video",
                        "Audio",
                        "Image",
                        "PdfDocument",
                        "MicrosoftOfficeDocument",
                        "Swf",
                        "UnknownType"
                      ],
                      "description": "A string representing what type of media this is."
                    },
                    "archived": {
                      "type": "boolean",
                      "description": "Whether or not the media is archived, either true or false."
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date when the media was originally uploaded."
                    },
                    "updated": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date when the media was last changed."
                    },
                    "duration": {
                      "type": "number",
                      "description": "Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media."
                    },
                    "embedCode": {
                      "type": "string",
                      "deprecated": true,
                      "description": "DEPRECATED: If you want to programmatically embed videos, follow the construct an embed code guide.\n"
                    },
                    "hashed_id": {
                      "type": "string",
                      "description": "A unique alphanumeric identifier for this media."
                    },
                    "description": {
                      "type": "string",
                      "description": "A description for the media which usually appears near the top of the sidebar on the media’s page."
                    },
                    "progress": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1,
                      "description": "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "ready",
                        "failed"
                      ],
                      "description": "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).\n"
                    },
                    "section": {
                      "type": "string",
                      "description": "The title of the section in which the media appears. This attribute is omitted if the media is not in a section (default)."
                    },
                    "tags": {
                      "type": "array",
                      "description": "Tags associated with this media.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The display name of the tag."
                          }
                        }
                      }
                    },
                    "thumbnail": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "width": {
                          "type": "integer"
                        },
                        "height": {
                          "type": "integer"
                        }
                      }
                    },
                    "project": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "description": "A unique numeric identifier for the project within the system.",
                          "example": 22570
                        },
                        "name": {
                          "type": "string",
                          "description": "The project’s display name.",
                          "example": "My Project Title"
                        },
                        "hashedId": {
                          "type": "string",
                          "description": "A private hashed id, uniquely identifying the project within the system.",
                          "example": "4d23503f70"
                        }
                      }
                    },
                    "assets": {
                      "type": "array",
                      "description": "An array of the assets available for this media.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "A direct-access URL to the content of the asset."
                          },
                          "width": {
                            "type": "integer",
                            "description": "The width of this specific asset, if applicable."
                          },
                          "height": {
                            "type": "integer",
                            "description": "The height of this specific asset, if applicable."
                          },
                          "fileSize": {
                            "type": "integer",
                            "description": "The size of the asset file that’s referenced by url, measured in bytes."
                          },
                          "contentType": {
                            "type": "string",
                            "description": "The asset’s content type."
                          },
                          "type": {
                            "type": "string",
                            "description": "The internal type of the asset, describing how the asset should be used. Values can include OriginalFile, FlashVideoFile, MdFlashVideoFile, HdFlashVideoFile, Mp4VideoFile, MdMp4VideoFile, HdMp4VideoFile, IPhoneVideoFile, StillImageFile, SwfFile, Mp3AudioFile, and LargeImageFile.\n"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project with ID 'fakeid' not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Media Update",
        "description": "Update attributes on a media.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "media-hashed-id",
            "in": "path",
            "description": "The hashed ID of the media.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hashed ID of the media (e.g., \"4d23503f70\")"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The media’s new name."
                  },
                  "new_still_media_id": {
                    "type": "string",
                    "description": "The Wistia hashed ID of an image that will replace the still that’s displayed before the player starts playing.\n"
                  },
                  "description": {
                    "type": "string",
                    "description": "A new description for this media. Accepts plain text or markdown."
                  },
                  "tags": {
                    "type": "array",
                    "description": "An array of tag names to apply to the media. Note that this will replace any existing tags!",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "A unique numeric identifier for the media within the system."
                    },
                    "name": {
                      "type": "string",
                      "description": "The display name of the media."
                    },
                    "type": {
                      "type": "string",
                      "description": "A string representing what type of media this is."
                    },
                    "archived": {
                      "type": "boolean",
                      "description": "Whether or not the media is archived, either true or false."
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date when the media was originally uploaded."
                    },
                    "updated": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date when the media was last changed."
                    },
                    "duration": {
                      "type": "number",
                      "description": "Specifies the length (in seconds) for audio and video files. Specifies number of pages in the document. Omitted for other types of media."
                    },
                    "hashed_id": {
                      "type": "string",
                      "description": "A unique alphanumeric identifier for this media."
                    },
                    "description": {
                      "type": "string",
                      "description": "A description for the media which usually appears near the top of the sidebar on the media’s page."
                    },
                    "progress": {
                      "type": "number",
                      "description": "A floating point value between 0 and 1 that indicates the progress of the processing for this file."
                    },
                    "status": {
                      "type": "string",
                      "description": "Post upload processing status. - `queued`: the file is waiting in the queue to be processed. - `processing`: the file is actively being processed. - `ready`: the file has been fully processed and is ready for embedding and viewing. - `failed`: the file was unable to be processed (usually a format or size error).\n"
                    },
                    "thumbnail": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "width": {
                          "type": "integer"
                        },
                        "height": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized, invalid or missing token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid credentials."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Project with ID 'fakeid' not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Media Delete",
        "description": "Delete a media.",
        "tags": [
          "Media"
        ],
        "parameters": [
          {
            "name": "media-hashed-id",
            "in": "path",
            "description": "The hashed ID of the media.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Hashed ID of the media (e.g., \"4d23503f70\")"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful deletion of the media.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "A unique numeric identifier for the media within the system."
                    },
                    "name": {
                      "type": "string",
                      "description": "The display name of the media."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "Video",
                        "Audio",
                        "Image",
                        "PdfDocument",
                        "MicrosoftOfficeDocument",
                        "Swf",
                        "UnknownType"
                      ],
                      "description": "A string representing what type of media this is."
                    },
                    "archived": {
                      "type": "boolean",
                      "description": "Whether or not the media is archived, either true or false."
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
[...]
